<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chrome Test Suite">
	<test name="Test">
	<parameter name="Browser" value="Chrome"/> 
		<classes>
			<!-- <class name="Tests.test2" /> -->
			<class name="Tests.rlTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->



